@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .btn {
    @apply p-5 m-4 rounded-xl;
  }

  .btn-sucesso {
    @apply btn;
    @apply bg-green-600 text-white hover:bg-green-800;
  }

  .btn-alerta {
    @apply btn;
    @apply bg-yellow-600 text-white hover:bg-yellow-700;
  }

  .btn-error {
    @apply btn;
    @apply bg-red-600 text-white hover:bg-red-800;
  }
}
